---
import DownloadButton from "../components/DownloadButton.vue";
import Layout from "../layouts/Layout.astro";

const releaseData = await fetch(
  "https://api.github.com/repos/leoboyerbx/ingenium-launcher/releases/latest"
).then((r) => r.json());
---

<Layout title="Ingenum Launcher">
  <main class="flex h-full">
    <div class="w-7/12 flex flex-col justify-center">
      <div
        class="flex flex-col items-center text-center gap-6 max-w-xl mb-12 mx-auto"
      >
        <img src="/favicon.png" class="w-48 mb-2" alt="" />
        <h1 class="text-5xl font-bold">Ingenium launcher</h1>

        <span class="">Viens jouer avec nous !</span>

        <div class="flex gap-4">
          <DownloadButton releaseData={releaseData} client:load />
        </div>
        <div class="">
          <a
            href="https://github.com/leoboyerbx/ingenium-launcher/releases"
            target="_blank"
            class="flex items-center gap-1 text-sm underline hover:text-white transition duration-200"
          >
            <span>Toutes les versions</span>
            <span class="i-uil-external-link-alt mb-0.5"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="flex-grow h-full relative pointer-events-none">
      <img
        src="/background.jpg"
        alt=""
        class="absolute inset-0 w-full h-full object-cover"
      />
      <div
        class="absolute inset-0 w-full h-full bg-gradient-to-r from-base-100 to-transparent"
      >
      </div>
    </div>
  </main>
</Layout>

<style></style>
