---
import "@fontsource-variable/montserrat";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Télécharger Ingenium Launcher" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full">
    <header class="absolute top-0 left-0 w-full flex z-20 py-6 px-8">
      <nav class="ml-auto">
        <a
          href="https://github.com/leoboyerbx/ingenium-launcher"
          title="Github"
          class="text-white hover:text-primary transition duration-200"
          target="_blank"
        >
          <span class="i-uil-github text-[32px]"></span>
        </a>
      </nav>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  html {
    @apply h-full;
  }
</style>
